<h1>Listing pins</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>User_id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @passings.each do |passing| %>
      <tr>
        <td><%= passing.player_id %></td>
        <td><%= passing.year_id %></td>
        <td><%= passing.week_id %></td>
        <td><%= passing.team_id %></td>
        <td><%= passing.player_position %></td>
        <td><%= passing.passing_worth %></td>
        <td><%= passing.passing_yards %></td>
      </tr>
    <% end %>
  </tbody>
</table>